* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;   /* убираем маркеры из списков */
}
.navigation {
	width: 700px;     /* для всего списка меню задаем ширину и располагаем его посередине страницы */
	margin: 30px auto;
	background: grey;
}
.navigation li {
	display: inline-block;  /* выравниваем пункты списка по левому краю. По умолчанию пункты списка занимают всю 
	                 ширину экрана и следуют друг за другом в общем потоке. float  мы выбиваем эти 
					 элемента  с общего потока и заставляем расположиться по горизонтали. inline-block позволяет растягиватьродительский
					 ссылки по ширине равномерно. родительский 
				     элемент, в нашем случаи это тег ul с классом .navigation, перестает учитывать 
					 данные элементы и он как бы схлопывается.Для того чтобы исправить такое поведение,
					 «очистить поток». */
	margin: 0 5px; 		/* расстояние между кнопками */	
   
}
.clearfix:after{
    content:'';
    display:block;   /* чтобы блок  начал учитывать содержащие в себе плавающие элементы для этого блока нужно добавить класс со  специальными свойствами */
    clear:both;
}
.navigation li a {   /* стилизируем сами ссылки */
    display:block;   /* ссылки делаем блоком, чтоб можно было задавать ширину, высоту */
    font:12px Tahoma, sans-serif;
    color:black;
    padding:10px 15px; /* внутренние отступы, поля вокруг текста в ссылках */
    text-decoration:none; /* убираем подчеркивания списков */
	text-align: center;
}
.navigation li .sub-menu{
    display:none;         /* Скрываем выпадающего меню (по идее, должно появляться при наведение на элемент, который содержит в себе это выпадающее меню) */
}

.navigation li .sub-menu{  /* Для того чтобы наш выпадающий список располагался 
                          по вертикали нам нужно, в первую очередь, для 
						  элементов li отменить обтекание и задать для 
						  всего списка фиксированную ширину: */
    /*display:none;*/
    
    background:#5389a5;
}
 .navigation li .sub-menu li{
    float:none;   /* для дочерних отменяем float */
}
.navigation li:hover .sub-menu{
    display:block;  /* выплывает дочерний список при наведении на родительский */
}
/* выпадающий элемент влияет на все остальные элементы страницы, он 
   меняет высоту родительского элемента  с классом .navigation, влияет 
   на соседние элементы и на  всю страницу в целом. вложенный список должен
   позиционироваться относительно  пункта который содержит в 
   себе данный вложенный элемент. Соответственно для нашего 
   выпадающего списка нам нужно задать свойство position:absolute,
   а для его родительского пункта, свойство position:relative, 
   чтобы вложенный элемент позиционировался именно относительно него.*/
.navigation li .sub-menu{
    /*display:none;
    width:220px;*/
    position:absolute;
    top:100%;
    left:-3px; /* колдовать с отступами дочернего меню относительно родителя*/
	
}
.navigation li{
   /* float:left;*/
    position:relative;
}